@font-face {
    font-family: samim;
    src: url(./assets/font/samim/Samim-FD.eot);
    src: url(./assets/font/samim/Samim-FD.eot?#iefix) format("embedded-opentype"),
    url(./assets/font/samim/Samim-FD.woff) format("woff"),
    url(./assets/font/samim/Samim-FD.ttf) format("truetype");
    font-weight: 400;
}

body {
    font-family: samim, sans-serif;
}

table {
    width: 80% !important;
    margin: 20px auto;
    border-radius: 1em;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.16);
    border-collapse: unset !important;
}

th, td {
    border: 1px solid #ddd !important;
    padding: 0;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    /*min-height: 1.1em;*/
    /*height: 1em !important;*/
    text-align: center !important;

}

.alphabet_header {
    background-color: black !important;
    color: white !important;
    padding: 0;

}

.number_row_td {
    background-color: black !important;
    color: white !important;
    padding: 0.2em !important;
    font-size: 0.875em !important;

}

thead tr:first-child th:nth-child(1) {
    border-radius: 0.875em 0 0 0;
}

thead tr:first-child th:last-child {
    border-radius: 0 0.875em 0 0;
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.875em;
}

tbody tr:last-child td:last-child {
    border-radius: 0 0 0.875em 0;
}
